
html, body {
	font-family: 'PT Serif', serif;
	background-color: #f8f8f8;
	color:#666;
	z-index: -2;
}

html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
	font-family: 'PT Serif', serif;
	font-size: 16px;
	font-size: 1.6rem;
	width: 100%;
	height: 100%;
	background-color:transparent;
	word-wrap:break-word;	
}

b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}

div {
	background:none;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

/* Links */
a {
	color:#E76FF7;
	text-decoration:none;
}
a:visited {
	color:purple;
}
a:hover,
a:focus,
a:active {
	color:#BA82C2;
	text-decoration:underline;
}

#primary
{
	font-size: 1.4em;
}


/* Clearing */
.clear:before,
.clear:after,
[class*="content"]:before,
[class*="content"]:after,
[class*="site"]:before,
[class*="site"]:after {
	clear:both;
}

.clear:after,
[class*="content"]:after,
[class*="site"]:after {
	clear: both;
}

/* Containers
----------------------------------------------- */
#wrapper-one{
	width:100%;	
	 min-width: 1060px;
    position: absolute;
	z-index: -2;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	top:76px;
	right: 0;
	margin-top: 24px;
	background-color: #fff;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
border-radius: 14px;
}

#main
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 26px;
	padding: 24px 0;
}

#feature
{
		position: absolute;
    left: 0;  right: 0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	top: 82px;
}

.responsive-container
{
	z-index: 19;
}

.content-container{
	width:100%;

	z-index: 40;
}



#devices
{
	color: #979797;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 24px;
   font-weight: 300;
}

#deviceList
{
	margin-left: 30px;
	margin-top: 10px;
}

/* Logo Sectiom
----------------------------------------------- */

#appIcon
{
	width: 54px;
	margin-top: 6px;
}

#headerBackground
{
	background:transparent;
	width: 1060px;
	height: 70px;
	margin: 0 auto;
	padding: 0;
	position: relative;;
	top: -92px;
}

#headerList li
{
	float:left;
	list-style-type: none;
}

#headerList
{
	margin: 0px 0 0 -26px;
	width: 500px;
	vertical-align: middle;
	height: 80px;
}

#mediaList
{
	list-style-type: none;
	float: right;
	margin-top: -46px;
	margin-right: 20px;
}

#mediaList li 
{
	float: left;
}

.site-header-half-width-logo{
	width:100%;
	margin:0;	
}
.site-header-half-width-logo .site-branding{
	text-align:center;
}
.site-branding img{
	max-width:100%;
	height:auto;
}
.site-title a, .site-title a:visited{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 50px;
	color: #444;
	margin: 0;
	padding: 0;
	line-height: 0;
	text-decoration:none;
}

#siteTitle
{
	margin-left: 12px;
	margin-top: 0px;
}

.site-description{

	font-size: 16px;
	font-size: 1.6rem;
}

/* =Site-Header
----------------------------------------------- */


#Vision
{
	width: 1060px;
	position: absolute;
	color: #939393;
	margin-left: auto;
	margin-right: auto;
	left: 0px;
	font-size: 34px;
	right: 0;
	bottom: 40px;	
}


#LearnMore a:hover
{
	color: #a1dafe;
}


/* =Content
----------------------------------------------- */

.responsive-container
{
	margin:0 auto;
}




#slideshow IMG 
{
    position:absolute;
    top:0;
    left:0;
    z-index:8;
}

#slideshow IMG.active {
    z-index:10;
}

#slideshow IMG.last-active {
    z-index:9;
}




.site-slider-slider-one
{
	width: 830px;
	margin: 0 auto;
}


.site-slider-slider-one-image{
	float:left;
	position: relative;
	left:20px;
	z-index: 40;
	margin:0;
}

.site-slider-slider-one-text-description
{
	font-weight: 400;
	text-align:left;
	color: #dad5d5;
	padding: 0 0 10px 0;
}
.site-slider-slider-one-text-button{
	text-align:left;	
}
.content-area{
	width:60%;
	margin:2% 4% 2% 2%;
	float:left;
}
.site-content{
	width:100%;
	margin:0;	
}

.site-footer{
	width:100%;
	position: absolute;
	height: 50px;
	bottom: 0;
	clear:both;
}

#BottomMenu
{
	text-align: center;
	width: 100%;
}

#BottomMenu li
{
	display: inline;
	font-family: 'Lato', sans-serif;
	text-align: center;
	padding: 0 12px;
	list-style-type: none;;
	color: #D6D6D6;
}

#BottomMenu li a
{
	color: #B3B3B3;
}

.site-info{
	width:100;
	margin-left: auto;
	margin-right: auto;
	padding:5% 0;
}
.footer-widget-two{
	width:30%;

}
.footer-widget-three{
	width:20%;
	padding:5% 0;
}
.site-info h3{
	text-align:left;
}
.site-info h3 a{
	color:#515254;
}
.site-info p{
	text-align:left;
}

@media (max-height: 1120px) {

#page{
	margin: auto;
	position: absolute;
    top: -24px; left: 0; right: 0;
	height: 500px;
	background: url('/valt.png') no-repeat; 
	z-index: -1;
    background-size: cover;
}


#iphoneImage
{
	position: relative;
	top: -64px;
	width: 220px;
	left: 90px;
}

#slideshow
{
	position:relative;
	bottom: 460px;
	left: 109px;
	width: 184px;
}

.site-slider-slider-one-text{
	float:left;
	position: relative;
	left: 140px;
	top: -30px;
	width: 550px;
	color: #fff;
	height: 500px;
	z-index: 40;
}
.site-slider-slider-one-text-heading{
	text-align:left;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	line-height: 1.15em;
	margin-top: 38px;
	padding: 0 0 22px 0;
	margin-left: 24px;
	font-size:44px;
	color:#fff;
}

#downloadButton
{
	font-family: 'Lato', sans-serif;
	text-align: center;
	height: 66px;
	font-size: 24px;
	margin: 0 0 0 30px;
	padding: 0;
	line-height: 2.6em;
	vertical-align: central;
}

#downloadButton a{
	color: #fff;
	width: 340px;
	height: 66px;
	display: block;
	background-color: #d235f9;
	border-radius:10px;
}

#downloadButton a:hover
{
	width: 340px;
	height: 66px;
	text-decoration: none;
	display: block;
	background-color: #e171fd;
	border-radius:10px;
}

#wrapper-one
{
	height: 760px;
}


#VisionMessage
{
	width: 900px;
	font-size: 24px;
	font-family: 'PT Serif', serif;
    font-weight: 400;
    text-align: center;
	position: relative;
	left: 80px;
	top: -60px;
}



#LearnMore a
{
font-family: 'PT Serif', serif;
    font-weight: 400;
	display: block;
	width: 140px;
	border-radius:10px;
	height: 44px;
	font-size: 22px;
	margin-right: auto;
	margin-left: auto;
	color: #4DC3FF;
	position: relative;
	left: 14px;
	top: -60px;
	text-align: center;
}
 
}



/*  BIG SCREEN  */



@media (min-height: 1121px){

#page{
	margin: auto;
	position: absolute;
    top: -24px; left: 0; right: 0;
	height: 760px;
	background: url('/valt.png') no-repeat; 
	z-index: -1;
    background-size: cover;
}


#iphoneImage
{
	position: relative;
	top: 0;
	width: 280px;
	left: 0;
}

#slideshow
{
	bottom: 504px;
	left: 24px;
	position:relative;
	width: 234px;
}

.site-slider-slider-one-text{
	float:left;
	position: relative;
	left: 50px;
	top: 60px;
	width: 550px;
	color: #fff;
	height: 500px;
	z-index: 40;
}
.site-slider-slider-one-text-heading{
	text-align:left;
	font-weight: 400;
	/*font-family: 'Varela Round', sans-serif;*/
	font-family: 'Lato', sans-serif;
	line-height: 1.15em;
	margin-top: 38px;
	padding: 0 0 22px 0;
	margin-left: 24px;
	font-size:60px;
	color:#fff;
}

#downloadButton
{
	font-family: 'Lato', sans-serif;
	text-align: center;

	height: 88px;
	font-size: 32px;
	margin: 0 0 0 30px;
	padding: 0;
	line-height: 2.6em;
	vertical-align: central;
}

#downloadButton a{
	color: #fff;
	width: 430px;
	height: 88px;
	display: block;
	background-color: #d235f9;
	border-radius:10px;
}

#downloadButton a:hover{
	width: 430px;
	height: 88px;
	text-decoration: none;
	display: block;
	background-color: #e171fd;
	border-radius:10px;
}

#wrapper-one
{
	height: 1010px;
}


#VisionMessage
{
	width: 900px;
	font-size: 27px;
	font-family: 'PT Serif', serif;
    text-align: center;
	position: relative;
	left: 80px;
	top: -40px;
}

#LearnMore a
{
font-family: 'PT Serif', serif;
	display: block;
	width: 240px;
	border-radius:10px;
	height: 44px;
	font-size: 27px;
	color: #4DC3FF;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	left: 14px;
	top: -40px;
	text-align: center;
}

}

